:root {
    --site-background: green;

}

#myImage {
    width: 180px;
    
}

h1 {
    background-color: blue;
}

.lists {
    background-color: lightblue;
}

.searchbar {
    position: relative;
    width: 50%;
    left: 25%;
    top: 350px;
}