:root {
    --site-background: gray;

}

html {
    background: var(--site-background);
}

#myImage {
    position: relative;
    width: 200px;
    left: 40%;
    
}

h1 {
    background-color: lightblue;
    font-family: Anton;
}

.lists {
    background-color: lightblue;
    padding: 5px 5px 5px 5px;
    margin: 5px -50px 5px 0px;
}

.searchbar {
    position: relative;
    width: 60%;
    left: 85%;
    top: -30px;
}

.boxes {
    background: lightblue;
}