:root {
    --site-background: gray;

}

html {
    background: var(--site-background);
}

#myImage {
    width: 180px;
    
}

h1 {
    background-color: blue;
}

.lists {
    background-color: lightblue;
    padding: 5px 5px 5px 5px;
}

.searchbar {
    position: relative;
    width: 60%;
    left: 80%;
    top: 10px;
}